*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 800px;
    margin: auto;
}

.logo{
    width: 20%;
    margin-bottom: 30px;
}

.header-box{
    width: 100%;
}

ul{
    list-style: none;
}

li > a{
    padding-left: 0;
}

li{
    display: inline-block;
    line-height: 3em;
}

a{
    text-decoration: none;
    color: lightgray;
    padding-right: 0.5em;
}


.banner{
    background-image: url(../img/banner.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
    filter: brightness(0.9);
}

.testo{
    width: 50%;
    height: 100px;
    padding-top: 200px;
    padding-left: 40px;
}

.testo-grande{
    font-size: 25px;
}

.testo-grande, .testo-piccolo{
    color: white;

}

p, .testo-grigio{
    color: rgb(180, 180, 180);
}

.contenitore-main::after{
    content: "";
    display: table;
    clear: both;
}

.contenitore-main{
    width: 100%;
    margin-top: 30px;
}

.sezione-sopra-main{
    width: 100%;
    height: calc(100px - 20px);
    margin-bottom: 10px;
}

h2{
    font-size: 200%;
}

.sezione-piccola-main{
    width: 200px;
    height: calc(400px - 20px);
    float: left;
    margin-bottom: 20px;
    border-radius: 10px;

}

.sinistra{
    float: left;
}

.destra{
    float: right;
}

.img-primo-main{
    opacity: 0.8;
    width: 100%;
    object-fit: cover;
    height: 100px;
    margin: 0;
    filter: brightness(0.8);
    border-radius: 10px;
}

.img-secondo-main{
    opacity: 0.8;
    width: 100%;
    object-fit: cover;
    height: 100px;
    margin: 0;
    filter: brightness(0.8);
    border-radius: 10px;
}

.sezione-grande-main{
    width: calc(400px - 40px);;
    float: left;
    margin: 0 20px;
}

.img-banner2{
    opacity: 0.8;
    width: 100%;
    object-fit: cover;
    height: 100px;
    margin: 0;
    filter: brightness(0.8);
    border-radius: 10px;
}

.line-height-titolo{
    line-height: 3em;
    font-size: 1em;
}

.footer-box{
    width: 100%;
    height: 50px;
    background-color: rgb(136, 1, 253);
    margin-top: 10px;
}

